.App_Header {
  text-align: center;
}
.App_CardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .App_CardContainer {
    grid-template-columns: 1fr;
  }
}
